body {
    background-color: #fffdd0;
    
}
nav{
    text-transform: uppercase;
}
.nav-link{
    font-weight: bold;
}
/*when you hover the tabs change to italics*/
.nav-link:hover{
    font-style: italic;
    background-color:#bab86c !important;
    
}
header{
    height: 750px;
    width: 100;
    background-image: url(offwhite.jpg);
    background-size: cover;
    
    text-align: center;
}