body {
    background-color: #fffdd0;
    
}
nav{
    text-transform: uppercase;
}
.nav-link{
    font-weight: bold;
}
/*when you hover the tabs change to italics*/
.nav-link:hover{
    font-style: italic;
    background-color:#bab86c !important;
    
}
header{
    height: 750px;
    width: 100;
    background-image: url(offwhite.jpg);
    background-size: cover;
    
    text-align: center;
}
h1{
    color:red ;
}
    
p{
    color: red ;
}

.services i{
    /*adjust size and position of the icon*/
    font-size: 40px;
    padding: 25px 20px;
    
    /*color changes the color of the icon*/
    color: #333300; 
    background-color: grey;
    
    width: 80px;
    height:80px;
    
border-radius: 50%
}
.services{
    text-align: center;
}
.services span{
    width: 200px;
    display: inline-block;
}